/************CONFIG PADRÃO************/
@charset "UTF-8";

:root{
    /*CORES*/
    --color-simbol: rgb(38, 218, 83);
    --color-simbol-dark: rgb(32, 179, 68);
    --color-black: rgb(36, 36, 36);
    --font-all: 'Open Sans', sans-serif;
}

/************END CONFIG PADRÃO************/


/************BODY************/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh ;  
}
main{
    flex: 1;  
}
/************END BODY************/


/************ÚTEIS************/
.highlighter{
    color: var(--color-simbol);
    display: inline-block;
}
.centralize{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
.centralize-block{
    max-width: 800px;
    margin: 50px auto;
}
.bt-all{
    background-color: transparent;
    border: 2px solid var(--color-black);
    padding: 7px;
    font-weight: bold;
    transition: .3s;
}
.bt-all:hover{
    border: 2px solid var(--color-simbol);
    color: var(--color-simbol);

}
/*cortando uns padrões*/
input:focus, textarea:focus, select:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
/************END ÚTEIS************/


/************HEADER************/
header{
    background-color: white;
    z-index: 20;
}
header h1{
    margin: 0 5px;
    font-size: 25px !important;
}

/*logo do site*/
#logotipo{
    margin-left: 5%;
    padding: 10px;
}
#logotipo-title{
    width: 100%;
    display: flex;
}
#logotipo a{
    color: black;
    text-decoration: none;
}

/*navagação*/
#navegation-container{
    margin: auto;
    display: flex;
    margin-right: 5%;
    height: 100%;
}
nav{
}
nav ul{
    margin-top: 15px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: -2px;
}
nav ul li:hover a{
    color: var(--color-simbol);
}
nav ul li a{
    color: var(--color-black);
    text-decoration: none !important;
    padding: 2px 15px;
}
#menu-lateral{
    background-color: transparent;
    border: none;
    display: none;
}
/*dropdown do menu de acoes*/

#dropdown-acoes{
    color: white;
    position: absolute;
    z-index: 10;
    margin-left: -20px;
    margin-top: -1px;
    opacity: .2;
    visibility: hidden;
    padding-top: 10px;
}
#dropdown-itens{
    background-color: var(--color-simbol);
    margin-top: 3px;
    border: 2px solid white;
}
li:hover #menu-acoes ~ #dropdown-acoes{
    opacity: 1;
    transition: .4s;
    visibility: visible;
}
#dropdown-acoes:hover{
    opacity: 1;
    transition: .4s;
    visibility: visible;
}
#dropdown-acoes ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#dropdown-acoes li{
    display: block;
    padding: 10px;
    margin: 0;
}
#dropdown-acoes li a{
    color: white;
    text-decoration: none;
}
#dropdown-acoes li:hover{
    background-color: var(--color-simbol-dark);
}
/*menu lateral*/
#menu-lateral{
    width: 40px;
    padding: 0;
    margin: auto;
    margin-right: 10px;
}
#menu-lateral img{
    width: 35px;
    height: 35px;
}
/************END HEADER************/


/************SECTION TITLE************/
#title{
    background-color: var(--color-simbol);
    padding: 20px;
    text-align: center;
    color: white;
}
/************END SECTION TITLE************/


/************FOOTER************/
footer{
    background-color: var(--color-black);
    color: white;
    padding: 20px;
}
footer h2{
    margin-bottom: 35px;
}
#suggestion-container{
    margin-bottom: 60px;
    color: black;
    display: flex;
}
#input-area{
    margin-right: 5px;
    width: 250px;
}
#input-area input, button{
    width: 100%;
    margin-bottom: 5px;
    height: 40px;
}
#sgg-message{
    resize: none;
}
#sgg-bt-send{
    background-color: var(--color-simbol);
    border: none;
}
/************END FOOTER************/

/************QUERRYS************/
@media (max-width: 1024px){
    #logotipo{
        padding-left: 0;
        margin-left: 0;
    }
    /*navegação lateral*/
    #navegation-container{
        left: 0;
        width: 100%;
        height: 110px;
        margin: 0;
        position: absolute;
        font-size: 15px;
        transition: .4s;
        display: block;
        visibility: hidden;
        margin-top: 57px;
    }
    nav{
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    nav ul{
        margin: 0;
        padding: 0;
    }
    nav a{
        color: white !important;
        opacity: 0;
    }
    #menu-lateral{
        border: none;
        display: block;
    }
    #menu-lateral:focus ~#navegation-container{
        transition: .5s;
        background-color: var(--color-simbol);
        visibility: visible;
    }
    #menu-lateral:focus ~#navegation-container nav a{
        transition: .5s;
        opacity: 1;
    }
    

}
