/************CONFIG PADRÃO************/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400 & display=swap');

:root{
    /*CORES*/
    --color-simbol: rgb(38, 218, 83);
    --color-simbol-dark: rgb(32, 179, 68);
    --color-black: rgb(36, 36, 36);
    --font-all: 'Open Sans', sans-serif;
}

/************END CONFIG PADRÃO************/


/************BODY************/
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-all) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh ;  
}
main{
    flex: 1;  
}
/************END BODY************/


/************ÚTEIS************/
.highlighter{
    color: var(--color-simbol);
    display: inline-block;
}
.centralize{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
.centralize-block{
    max-width: 800px;
    margin: 50px auto;
}
.bt-all{
    background-color: transparent;
    border: 2px solid var(--color-black);
    padding: 7px;
    font-weight: bold;
    transition: .3s;
}
.bt-all:hover{
    border: 2px solid var(--color-simbol);
    color: var(--color-simbol);

}
/*cortando uns padrões*/
input:focus, textarea:focus, select:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
/************END ÚTEIS************/


/************HEADER************/
header{
    background-color: white;
}
header h1{
    margin: 0 5px;
    font-size: 25px !important;
}

/*logo do site*/
#logotipo{
    margin-left: 5%;
    padding: 10px;
}
#logotipo-title{
    width: 100%;
    display: flex;
}
#logotipo a{
    color: black;
    text-decoration: none;
}

/*navagação*/
nav{
    margin-left: auto;
    margin-right: 5%;
}
nav ul{
    margin-top: 15px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: -2px;
}
nav ul li:hover a{
    color: var(--color-simbol);
}
nav ul li a{
    color: var(--color-black);
    text-decoration: none !important;
    padding: 2px 15px;
}
/*dropdown do menu de acoes*/

#dropdown-acoes{
    color: white;
    position: absolute;
    z-index: 10;
    margin-left: -20px;
    margin-top: -1px;
    opacity: .2;
    visibility: hidden;
    padding-top: 10px;
}
#dropdown-itens{
    background-color: var(--color-simbol);
    margin-top: 3px;
    border: 2px solid white;
}
li:hover #menu-acoes ~ #dropdown-acoes{
    opacity: 1;
    transition: .4s;
    visibility: visible;
}
#dropdown-acoes:hover{
    opacity: 1;
    transition: .4s;
    visibility: visible;
}
#dropdown-acoes ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#dropdown-acoes li{
    display: block;
    padding: 10px;
    margin: 0;
}
#dropdown-acoes li a{
    color: white;
    text-decoration: none;
}
#dropdown-acoes li:hover{
    background-color: var(--color-simbol-dark);
}
/*menu lateral*/
#menu-lateral{
    margin: auto;
    margin-right: 10px;
    display: none;
}
#menu-lateral button{
    background-color: transparent;
    border: none;
}
#menu-lateral img{
    width: 30px;
    height: 30px;
}
/************END HEADER************/


/************SECTION TITLE************/
#title{
    background-color: var(--color-simbol);
    padding: 20px;
    text-align: center;
    color: white;
}
/************END SECTION TITLE************/


/************FOOTER************/
footer{
    background-color: var(--color-black);
    color: white;
    padding: 20px;
}
footer h2{
    margin-bottom: 35px;
}
#suggestion-container{
    margin-bottom: 60px;
    color: black;
    display: flex;
}
#input-area{
    margin-right: 5px;
    width: 250px;
}
#input-area input, button{
    width: 100%;
    margin-bottom: 5px;
    height: 40px;
}
#sgg-message{
    resize: none;
}
#sgg-bt-send{
    background-color: var(--color-simbol);
    border: none;
}
/************END FOOTER************/


/************QUERRYS************/
@media (max-width: 1024px){
    #logotipo{
        padding-left: 0;
        margin-left: 0;
    }
    nav{
        display: none !important;
    }
    #menu-lateral{
        display: block;
    }
}
